body {
    background: #2f2f2f;
    text-align: left;
}

#main{
    width: 1000px;
    height: 600px;
    background: #f0f8ff;
    margin: 25px auto;
    border: solid 2px #ff3819;
    padding: 10px;
}

h1{
    text-align: center;
    font-family: "Times New Roman";
    font: 24pt;
    color: #012d5a;
}
h2{
    text-align: center;
    font-family: "Times New Roman";
    font: 36pt;
    color: #2f2d2d;
}

ol{
    list-style-position: center;
    text-align: left;
    font: 24pt;
    color: #ad0725;
}

ul{
    text-align: left;
    font: 16pt;
    color: #012d5a;
}

h3{
    text-align: center;
    font-family: "Times New Roman";
    font: 48pt;
    color: #2f2d2d;
}

hr{
    height: 2px;
    color: #ff3819;
}
p{
    font-family: "calibri";
    font-size: 14pt;
    text-align: center;
    text-indent: 48px;
    color: #2f2d2d;
}